{% comment %}
  @params breadcrumb
    array of objects with keys:
      link_text: string
      path: string
{% endcomment %}
<ul class="list-none text-gray-600 dark:text-white text-sm hidden sm:flex items-center space-x-1">
    <li>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
    </li>
  {% for crumb in breadcrumb %}
    <li>
      <div class="flex items-center">
        {% if forloop.index0 > 0 %}
          <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
        {% endif %}
        <a href="{{ crumb.path }}">{{ crumb.link_text }}</a>
      </div>
    </li>
  {% endfor %}
</ul>
