{% # 页内导航 %}
<nav class="hidden w-48 xl:block shrink-0" data-controller="menu">
    <div class="fixed pl-4 pt-32 pb-8 overflow-y-auto scrollbar top-24">
        <div class="border-l border-slate-200 dark:border-slate-800">
            <h2 class="font-semibold" id="section-2-title">{{ 'generic.in_page_nav' | t }}：</h2>
            <div class="text-sm" data-menu-target="links"></div>
        </div>
    </div>
</nav>
